#main {
	margin-left: 10px;
	margin-right: 10px;
}

#header {
	background: #222;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#site-title {
	color: white;
	}
#site-title h1 a {
	color: white;
	}
#site-description {
	color: white;
	}

#top-bar {
	background: #222;
}
#menu-bar{
	background: #413f3d;
}
#footer-bar {
	background: #222;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}

#main-content {
	background: #fff;
}
#the-content {
	padding: 0 7px 0 7px;
}



/* =Left Menu
-------------------------------------------------------------- */

#left-menu {
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	float: left;
	margin: 0 auto 1em;
	width: 100%;
}

#left-menu ul {
	list-style: none;
	margin: 0;
	padding-bottom: 0px;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

#left-menu li {
	position: relative;
	margin-bottom: 6px;
}

#left-menu li ul li{
	
}

#left-menu ul a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 5px; 
	font-weight: normal;
}

#left-menu ul ul {
	/*box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);*/
	display: none;
	float: left;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 99999;
	/*background-color: #1F5696;*/
	color: #fff;
padding: 0;

}

#left-menu ul ul ul {
	left: 100%;
	top: 0;
padding: 0;
}

#left-menu ul ul a {
	background-color: #163963;
	color: #fff;
	/*line-height: 1em;*/
	padding: 4px;
	width: 10em;
	height: auto;
}

#left-menu li:hover > a,
#left-menu ul ul :hover > a {
	background: #163963;
	color:#FFFFFF;
}

#left-menu ul ul a:hover {
	background: #1C497F;
	color:#FFFFFF;
}

#left-menu ul li:hover > ul {
	display: block;
}

#left-menu .current_page_item a {
/*	background: #163963;
	color:#FFFFFF; */
}